h2{
    color: white;
    border: 4px solid gray;
<<<<<<< HEAD
    background-color:  black   
}

p{
    color: black;
}

h1{
    color: rgb(207, 112, 144);
    font-family: 'Lobster', cursive;
    font-size: 60px;
    text-align: center;
}

body{
    background-color: rgb(255, 255, 255);     
}
#image1,#image2,#image3{
    padding: 20px;
    display: inline-block
     
}
.art-img,.art1-img,.art2-img{
    width: 160px; 
   
}



=======
    background-color:  black
    
}
p{
    color: black;
    
    
}
h1{
    color: rgb(207, 112, 144);
    font-family: 'Lobster', cursive;
    font-size: 50px
}

body{
    background-color: rgb(255, 255, 255);
     text-align:center;       
     display:inline-block;
}
.art-img{
    width: 700px;
    float: center;
    border-radius: 50%;
   
}
>>>>>>> 1217616633ede0b5211376f3becb8750ebe7bb47
