h2{
    color: white;
    border: 4px solid gray;
    background-color:  black   
}

p{
    color: black;
}

a{
    padding: 5px;
}
h1{
    color: #bba7a7;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    text-align: center;
}
h3{
    color: rgb(88, 36, 36);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: rgb(255, 255, 255);     
}
#Homes_pics{
    display: inline-block;
    width: 40%; 
}
#image1,#image2,#image3{
width: 30%;
display: inline-block;
}
.art-img,.art1-img,.art2-img{
    width: 80%;
    border-radius: 50%;
    border-color: blanchedalmond;

}