div{
    border: 1px dashed black;
}
#robot{
    width: 400px;
    height: 600px;

}
#tete{
    width: 170px;
    height: 75px;
    display: flex;
    top: 90px;
    background-color: rgb(154, 211, 68);
    justify-content: space-around;
    border-radius: 80% 80% 0% 0%;
    border-radius: 100px 100px 0 0;
    position: relative;
    left: 20%;
    border: 20%
    
}
#tete:hover{
    width: 30%;

}
#main{
    display: inline;
    width: 350px;
    height: 125px;
    border-radius: 30px;
    position: relative;

}
#pieds{
    display: flex;
    width: 100px;
    height: 30px;
    justify-content: space-evenly;
    background-color: white;
    border: none;
}
#md, #mg, #pg, #pd{
    width: 40px;
    height: 90px;
    background-color: rgb(154, 211, 68);
    border-radius: 20px;
    position: absolute;

}
#pg, #pd{
    position: relative;
    bottom: 40%;
    width: 40%;
    border-radius: 30px;
    justify-content: 60%;
    position: relative;
    top: -92px;
    left: 125px;
    height: 75px; 
}


#corps{
    width: 170px;
    height: 160px;
    top: 42px;
    border-radius: 0 0 25px 25px;
    background-color: rgb(154, 211, 68);
    justify-content: center;
    margin: 80px;
    

}
#od,#og{
    position: relative;
    top: 40%;
    width: 10%;
    height: 20%;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}
#pg:hover{
    transform: rotate(20deg);
}
#pd:hover{
    transform: rotate(-20deg);
}
#pg{
    left: 105px;
}
#pd{
    right: -50px;
}
#md{
    right: -300px;
    top: 100px;
}
#mg{
    left: 30px;
    top: 100px;
}
#mg:hover{
    transform: rotate(20deg);
}
#md:hover{
    transform: rotate(-20deg);
}